.third h2 {
    text-align: center;
}

.t_list {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    align-items: center;
    margin-bottom: 242px;
}

.t_list div {
    text-align: center;
}