button {
    color: #fff;
    background: #5BBC58;
    border-radius: 6px;
    padding: 12px 30px;
    border: 0 solid ;
}

.seventh {
    display: flex;
    justify-content: space-between;
    margin-bottom: 150px;
}