.sixth h2 {
    text-align: center;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
}

.sixth details {
    left: 120px;
    margin-bottom: 20px;
    position: relative;
}

.sixth {
    margin-bottom: 158px;
}

